.device-detail__info {
    margin-left: 70px;
    font-size: 15px;
}

.device-detail__form {
    text-align: center;
    padding-left: 20px;
}

.device-detail__form img {
    width: 60px;
    cursor: pointer;
}

.device-detail__form img:hover {
    opacity: 50%;
}

.device-detail__timeline {
    margin-left: 70px;
}