.device-info-modal .ant-modal-body {
    padding: 0 50px !important;
}

.device-info-modal .ant-tabs-bar {
    width: 270px;
}

.device-info-modal .ant-tabs-nav .ant-tabs-tab {
    font-size: 15px;
    padding-bottom: 5px;
}

.device-info-modal__detail {
    margin-left: 30px;
    font-size: 17px;
}

.device-info-modal__detail img {
    margin-bottom: 30px;
    width: 4vw;
    height: 4vw;
}

.device-info-modal__detail text {
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

.device-info-modal__timeline {
    margin-left: 30px;
}