.admin-user_add h1 {
  text-align: center;
  font-size: 2.5vw;
  font-weight: 700;
  color: green;
}

.admin-user_add_form {
  margin: 1vw 8vw 1vw 10vw;
}

.admin-user_add_form_info {
  width: 35vw;
}

.admin-user_add_form_product {
  margin-left: 8vw;
}

.admin-user_add_form_product h2 {
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: 5px;
}

.ant-checkbox-group {
  font-size: 2vw;
  line-height: 2vw;
}

.ant-checkbox + span {
  font-size: 1.1vw;
  padding-right: 2vw;
}

.admin-user_add_form_product_type {
  margin-top: 1vw;
  margin-right: 10vw;
}

.admin-user_add_form_product_type .ant-row.ant-form-item {
  margin-bottom: 0;
}

.admin-user_add_form_product_type p {
  font-size: 1.1vw;
  font-weight: 600;
  margin-bottom: 5px;
}

.admin-user_add_form_button {
  width: 100%;
}
