.admin-user {
  width: 100%;
  height: 100vh;
  position: relative;
}

.admin-user__menu {
  width: 100%;
  top: 30%;
}
   
.admin-user__item {
  margin-left: 7%;
  text-align: center;
  width: 17vw;
  height: 17vw;
  color: #432c58;
  border: 10px solid;
  border-image: linear-gradient(45deg, #00ff98, #003eff) 1;
  box-shadow: 2px 3px 4px #524e4e;
  cursor: pointer;
  transition: transform .2s;
}

.admin-user__item .anticon {
  margin-top: 20%;
  margin-bottom: 1vw;
  font-size: 6vw;
}

.admin-user__item h1 {
  padding-top: 5px;
  width: 100%;
  font-size: 1.2vw;
  font-weight: 700;
}

.admin-user__item:hover {
  transform: scale(1.05);
}
   
   
/* Modal */
.ant-modal-confirm-body .ant-modal-confirm-title {
  margin-bottom: 1vw;
  text-align: center;
  font-size: 2vw;
  font-weight: 700;
  color: #240091;
}

.ant-modal-confirm-body .ant-modal-confirm-content {
  text-align: center;
}

.ant-modal-confirm .ant-modal-confirm-btns {
  float: none;
  text-align: center;
}

.ant-modal-title {
  text-align: center;
}
