.user-list_info {
    margin: 1vw 5vw 0 5vw;
}

.user-list_info_avatar {
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
}
  
.user-list_info_name {
    margin: 5px 0 10px 0;
    font-size: 1.5vw;
    font-weight: 600;
}

.user-list_info_title {
    padding-bottom: 5px;
    border-bottom: 1px solid #5e5e5e;
    color: #3e3e3e;
    font-size: 1.3vw;
    font-weight: 600;
}

.user-list_info_content {
    margin: 10px 0 1vw 0;
    display: flex;
    color: black;
  }
  
  .user-list_info_content_topic {
    font-size: 1vw;
    font-weight: 600;
    width: 8vw;
  }
  
  .user-list_info_content_content {
    margin-left: 8vw;
    font-size: 1vw;
  }