.profile-page {
  min-height: 100vh;
  margin-top: 7vh;
}

.user-detail {
    margin-bottom: 44px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

.user-detail-avatar {
    width: 10vw;
    height: 10vw;
}

.user-summary {
    text-align: center;
    padding-top: 20px;
}

.user-summary .full-name {
    font-size: 30px;
    font-weight: 600;
    color: rgba(0,0,0,0.85);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-summary .username {
    font-size: 20px;
}

.user-summary .email {
    margin-top: 5px;
}
