.user-home {
    width: 100%;
    min-height: 100vh;
    padding: 100px 4% 0 6%;
    background-color: white;
}

.user-home__info {
    padding: 0 !important;
    box-shadow: 2px 4px 6px #777777;
    background-color: #f0f0f0;
    height: 80vh;
}

.user-home__info__header {
    display: flex;
    height: 25vh;
}
.user-home__info__header__content {
    color: white;
}
.user-home__info__header img {
    margin-top: 5vh;
    margin-left: 1vw;
    width: 8vw;
    height: 8vw;
}
.user-home__info__header p {
    margin-top: 5vh;
    margin-bottom: 0;
    font-size: 20px;
}
.user-home__info__header b {
    margin-top: 15px;
    font-size: 35px;
    font-weight: 700;
}

.user-home__info__body {
    padding: 1vh 1.8vw 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.user-home__info__body p {
    color: black;
    text-align: left;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.user-home__info__body b {
    color: #432c58;
    font-size: 22px;
    font-weight: 700;
}

.user-home__body h1 {
    margin: 20px 16px;
    padding-bottom: 5px;
    border-bottom: 2px solid !important;
    border-image: linear-gradient(90deg, #003eff, #00ff98) 1;
}

.user-home__row {
    width: 100%;
}

.user-home__col {
    margin: 0 16px;
    width: 14vw;
    height: 9vw;
    color: white;
    box-shadow: 2px 4px 6px #777777;
    text-align: center;
}
.user-home__col p {
    text-align: left;
    padding-top: 5px;
    padding-left: 15px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
}
.user-home__col b {
    font-size: 50px;
    font-weight: 700;
}
.user-home__col span {
    font-style: italic;
    padding-left: 5px;
    font-size: 20px;
    font-weight: 700;
}

.col1, .col2, .col3, .col4 {
    border-radius: 15px;
}

.col1 {
    background-image: linear-gradient(90deg, #0319e0, #9698ff);
}
.col2 {
    background-image: linear-gradient(90deg, #ff4800, #ffa978);
}
.col3 {
    background-image: linear-gradient(90deg, #0097bd, #9bf0fc);
}
.col4 {
    background-image: linear-gradient(90deg, #99007f, #ff5ef7);
}

.room {
    cursor: pointer;
    transition: transform .4s;
}
.room:hover {
    transform: scale(1.03);
}
.room:hover p {
    color: #00ff98;
}

.script {  
    box-shadow: none;
}
.script__circle {
    margin-left: 50px;
    width: 7vw;
    height: 7vw;
    border-radius:50%;
    border: 2px solid #c4c4c4;
    box-shadow: 1px 2px 3px #adadad;
    cursor: pointer;
    transition: transform .4s;
}
.script__circle:hover {
    transform: scale(1.03);
}
  
.script img {
    margin-top: 1.3vw;
    width: 4vw;
}
.script p {
    text-align: center;
    margin-top: 10px;
    padding: 0;
    color: #432c58;
    font-weight: 700;
}