.user-room {
    margin-top: 6vw;
    min-height: 90vh;
}

.user-room__device {
    margin: 0 0 2vw 4vw;
    text-align: center;
    width: 15vw;
    height: 15vw;
    border-radius: 10px;
    box-shadow: 2px 3px 4px #524e4e;
    cursor: pointer;
    transition: transform .2s;
}

.user-room__device:hover {
    transform: scale(1.05);
}

.user-room__device h2 {
    margin-top: 5px;
    margin-left: 1vw;
    font-size: 1.2vw;
    font-weight: 700;
}

.user-room__device img {
    width: 7vw;
    margin-top: 1vw;
}

.user-room__device b {
    color: #858585;
    font-size: 1vw;
    font-weight: 600;
}