.switch-sensor {
  margin-top: 80px;
}

.switch-sensor_introduce {
  padding-top: 20px;
  display: flex;
  border-bottom: 1px solid #dbdbdb;
}

.switch-sensor_introduce_image {
  float: left;
  margin: auto auto 3vw 7vw;
  background-color: #ebebeb;
  width: 40vw;
  height: 30vw;
}

.switch-sensor_introduce_carousel {
  margin: 5vw auto auto 8vw;
  width: 20vw;
  height: 20vw;
}

.switch-sensor_introduce_content {
  float: right;
  margin: auto 7vw auto 3vw;
  width: 45vw;
}

.switch-sensor_introduce_content h1 {
  color: green;
  font-size: 2.5vw;
  font-weight: 800;
  border-bottom: 0.5px solid #cccccc;
}

.switch-sensor_introduce_content p {
  line-height: 1.7vw;
  color: black;
  font-size: 1.2vw;
  text-align: justify;
}

.switch-sensor_body {
  margin: 5vw 10vw auto 10vw;
  line-height: 1.8vw;
  color: black;
  font-size: 1.2vw;
  text-align: justify;
}

.switch-sensor_body img {
  margin: 1vw auto 1vw 7vw;
}

.switch-sensor_body_title {
  color: #4f4f4f;
  font-weight: 800;
  font-size: 1.5vw;
  line-height: 3vw;
}