.google-header {
  margin-top: 80px;
  position: relative;
}
.google-header img {
  width: 100%;
}

.google-header__content {
  position: absolute;
  top: 55%;
  left: 15%;
  width: 33vw;
}
.google-header__content h1 {
  color: #003eff;
  text-shadow: 2px 0 0 #00ff98, 0 -2px 0 #432c58, 0 2px 0 #00ff98, 0 -2px 0 #432c58;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5px;
}
.google-header__content p {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}

.google__introduce {
  margin: 50px 10vw auto 10vw;
  font-size: 17px;
  font-weight: 500;
  text-align: justify;
}

.google__introduce__row {
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}
.google__introduce__row p {
  margin-top: 15px;
}
.google__introduce__row img{
  transition: transform .4s;
}

.google__introduce__col1 {
  border-right: 0.1px solid gray;
}
.google__introduce__col1 img {
  width: 17vw;
}
.google__introduce__col1:hover img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}

.google__introduce__col2 img {
  width: 13vw;
}
.google__introduce__col2:hover img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}

.google__row {
  margin-top: 100px;
  margin-left: 7vw !important;
  margin-right: 7vw !important;
}
.google__row h1 {
  margin-top: 20px;
  color: #432c58;
  font-size: 35px;
  font-weight: 800;
  border-bottom: 1px solid !important;
  border-image: linear-gradient(90deg, #00ff98, #003eff) 1;
}
.google__row p {
  color: black;
  font-size: 18px;
  text-align: justify;
}
.google__row img{
  width: 500px;
  transition: transform .4s;
}

.google__row1__col2, .google__row2__col1, .google__row3__col2, .google__row4__col1 {
  padding: 50px 40px !important;
}
.google__row1__col1, .google__row2__col2, .google__row3__col1, .google__row4__col2 {
  overflow: hidden;
}
.google__row1__col1:hover img, .google__row2__col2:hover img, .google__row3__col1:hover img, .google__row4__col2:hover img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}
