.introduction {
  margin-top: 10vh;
}

.introduction Button:hover {
  color: white;
  background-color: #f7931e;
  border-color: #f7931e;
}

.introduction_header {
  background-image: url("/image/introduction/smarthome.jpg");
  background-size: 100vw 85vh;
  min-width: 100vw;
  min-height: 80vh;
  display: flex;
}

.introduction_header h1 {
  margin: 7vw auto auto 60vw;
  color: #fff;
  font-size: 3vw;
  font-weight: bold;
}

.introduction_timeline {
  margin: 4vw 5vw auto 5vw;
}

.introduction_timeline h1 {
  color: #58595b;
  font-size: 2.5vw;
  font-weight: 800;
  border-bottom: 0.5px solid #cccccc;
}

.introduction_timeline p {
  color: black;
  font-size: 1.1vw;
  text-align: justify;
}

.introduction_timeline Button {
  margin: 1vw auto auto 8vw;
  color: #ff8c00;
  border-color: #ff8c00;
  background-color: transparent;
  font-size: 1.1vw;
  font-weight: bold;
  padding: 3px 30px 3px;
}

.introduction_timeline_image {
  float: right;
  margin-bottom: 4vw;
  width: 55vw;
  height: 30vw;
  cursor: pointer;
}

.introduction_timeline_content {
  float: left;
  margin-top: 6vw;
  width: 30vw;
}
