.product_header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/image/guest/product/banner-thiet-bi.jpg');
  background-size: 100% 70vh;
  height: 70vh;
  display: flex;
}

.product_header_title {
  margin: 25vw auto auto 10vw;
}

.product_header_title h1 {
  color: #f3d5a8;
  text-shadow: 2px 0 0 #000, -2px 0 0 #fff, 0 2px 0 #000, 0 -2px 0 #fff;
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 1px;
}

.product_header_title p {
  color: black;
  font-size: 1.5vw;
}

.product_introduce {
  margin: 3vw 10vw auto 10vw;
  width: 80%;
  font-size: 1.4vw;
  text-align: justify;
  font-weight: 500;
}

.product_body {
  margin: 2vw 7vw auto 7vw;
}

.product_body h1 {
  color: #58595b;
  font-size: 2.6vw;
  font-weight: 800;
  border-bottom: 0.5px solid #cccccc;
}

.product_body p {
  color: black;
  font-size: 1.2vw;
  text-align: justify;
}

.product_body Button {
  margin: 1vw auto auto 7vw;
  color: #ff8c00;
  border-color: #ff8c00;
  background-color: transparent;
  font-size: 1.3vw;
  font-weight: bold;
  padding: 0.3vw 2vw 2.3vw;
}

.product_body h1:hover {
  color: green;
  cursor: pointer;
}

.product_body Button:hover {
  color: white;
  background-color: #f7931e;
  border-color: #f7931e;
}

.product_body_switch-sensor-image {
  float: left;
  margin: 2vw auto auto 4vw;
  width: 38vw;
  height: 35vw;
}

.product_body_switch-sensor {
  float: right;
  margin: 8vw 4vw auto auto;
  width: 31vw;
}

.product_body_switch-image {
  float: right;
  margin: 2vw 1vw auto auto;
  width: 43vw;
  height: 35vw;
}

.product_body_switch {
  float: left;
  margin: 11vw auto auto 6vw;
  width: 33vw;
}

.product_body_module-ir-image {
  float: left;
  margin: 4vw auto auto 3vw;
  width: 38vw;
  height: 35vw;
}

.product_body_module-ir {
  float: right;
  margin: 12vw 3vw auto auto;
  width: 35vw;
}

.product_body_home-controller-image {
  float: right;
  margin: 15vw 1vw auto auto;
  width: 40vw;
  height: 32vw;
}

.product_body_home-controller {
  float: left;
  margin: 11vw auto auto 13vw;
  width: 25vw;
}

.product_body_door-sensor-image {
  float: left;
  margin: 5vw auto auto 2vw;
  width: 40vw;
  height: 35vw;
}

.product_body_door-sensor {
  float: right;
  margin: 10vw 10vw auto auto;
  width: 23vw;
}

.product_body_motion-detector-image {
  float: right;
  margin: 10vw 1vw 3vw auto;
  width: 40vw;
  height: 32vw;
}

.product_body_motion-detector {
  float: left;
  margin: 8vw auto auto 7vw;
  width: 30vw;
}
