.product-header {
  margin-top: 80px;
  position: relative;
}
.product-header img {
  width: 100%;
  height: 70vh;
}

.product-header__content {
  position: absolute;
  top: 65%;
  left: 10%;
  width: 40vw;
}
.product-header__content h1 {
  color: #003eff;
  text-shadow: 2px 0 0 #00ff98, 0 -2px 0 #432c58, 0 2px 0 #00ff98, 0 -2px 0 #432c58;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5px;
}
.product-header__content p {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}

.product__introduce {
  margin: 50px 10vw auto 10vw;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}

.product__row {
  margin: 100px 7vw !important;
}
.product__row h1 {
  margin-top: 20px;
  color: #432c58;
  font-size: 35px;
  font-weight: 800;
  border-bottom: 1px solid !important;
  border-image: linear-gradient(90deg, #00ff98, #003eff) 1;
}
.product__row p {
  color: black;
  font-size: 18px;
  text-align: justify;
}
.product__row img{
  width: 500px;
  cursor: pointer;
  transition: transform .4s;
}
.product__row Button {
  margin-left: 100px;
  color: #ff8c00;
  border-color: #ff8c00;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
}
.product__row Button:hover {
  color: white;
  background-color: #f7931e;
  border-color: #f7931e;
}

.product__row1__col2 {
  padding: 20px 40px !important;
}
.product__row2__col1, .product__row3__col2 {
  padding: 50px 40px !important;
}
.product__row4__col1 {
  padding: 40px 100px !important;
}
.product__row5__col2 {
  padding: 30px 70px !important;
}
.product__row6__col1 {
  padding: 30px 70px !important;
}
.product__row1__col1, .product__row2__col2, .product__row3__col1, 
.product__row4__col2, .product__row5__col1, .product__row6__col2 {
  overflow: hidden;
}
.product__row1__col1:hover img, .product__row2__col2:hover img, .product__row3__col1:hover img, 
.product__row4__col2:hover img, .product__row5__col1:hover img, .product__row6__col2:hover img{
  transform: scale(1.05);
  transform-origin: 50% 50%;
}


.product_body {
  margin: 2vw 7vw auto 7vw;
}

.product_body h1 {
  color: #58595b;
  font-size: 2.6vw;
  font-weight: 800;
  border-bottom: 0.5px solid #cccccc;
}

.product_body p {
  color: black;
  font-size: 1.2vw;
  text-align: justify;
}

.product_body Button {
  margin: 1vw auto auto 7vw;
  color: #ff8c00;
  border-color: #ff8c00;
  background-color: transparent;
  font-size: 1.3vw;
  font-weight: bold;
  padding: 0.3vw 2vw 2.3vw;
}

.product_body h1:hover {
  color: green;
  cursor: pointer;
}

.product_body Button:hover {
  color: white;
  background-color: #f7931e;
  border-color: #f7931e;
}

.product_body_switch-sensor-image {
  float: left;
  margin: 2vw auto auto 4vw;
  width: 38vw;
  height: 35vw;
}

.product_body_switch-sensor {
  float: right;
  margin: 8vw 4vw auto auto;
  width: 31vw;
}

.product_body_switch-image {
  float: right;
  margin: 2vw 1vw auto auto;
  width: 43vw;
  height: 35vw;
}

.product_body_switch {
  float: left;
  margin: 11vw auto auto 6vw;
  width: 33vw;
}

.product_body_module-ir-image {
  float: left;
  margin: 4vw auto auto 3vw;
  width: 38vw;
  height: 35vw;
}

.product_body_module-ir {
  float: right;
  margin: 12vw 3vw auto auto;
  width: 35vw;
}

.product_body_product-controller-image {
  float: right;
  margin: 15vw 1vw auto auto;
  width: 40vw;
  height: 32vw;
}

.product_body_product-controller {
  float: left;
  margin: 11vw auto auto 13vw;
  width: 25vw;
}

.product_body_door-sensor-image {
  float: left;
  margin: 5vw auto auto 2vw;
  width: 40vw;
  height: 35vw;
}

.product_body_door-sensor {
  float: right;
  margin: 10vw 10vw auto auto;
  width: 23vw;
}

.product_body_motion-detector-image {
  float: right;
  margin: 10vw 1vw 3vw auto;
  width: 40vw;
  height: 32vw;
}

.product_body_motion-detector {
  float: left;
  margin: 8vw auto auto 7vw;
  width: 30vw;
}
