.remote__header {
    position: relative;
    height: 20px;
}

.remote__header button {
    position: absolute;
    right: 10px;
    padding: 0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 17px;
    color: red;
}