.home-controller {
  margin-top: 80px;
}

.home-controller_introduce {
  padding-top: 20px;
  display: flex;
  border-bottom: 1px solid #dbdbdb;
}

.home-controller_introduce_image {
  float: left;
  margin-left: 7vw;
  margin-bottom: 3vw;
  background-color: #ebebeb;
  width: 40vw;
  height: 30vw;
}

.home-controller_introduce_carousel {
  margin: 5vw auto auto 8vw;
  width: 20vw;
  height: 20vw;
}

.home-controller_introduce_content {
  float: right;
  margin: 0 7vw auto 3vw;
  width: 45vw;
}

.home-controller_introduce_content h1 {
  color: green;
  font-size: 2.5vw;
  font-weight: 800;
  border-bottom: 0.5px solid #cccccc;
}

.home-controller_introduce_content b {
  color: #787878;
  font-size: 1.2vw;
  font-weight: 800;
}

.home-controller_introduce_content p {
  line-height: 1.7vw;
  color: black;
  font-size: 1.2vw;
  text-align: justify;
}

.home-controller_body {
  margin: 5vw 10vw auto 10vw;
  line-height: 1.8vw;
  color: black;
  font-size: 1.2vw;
  text-align: justify;
}

.home-controller_body img {
  margin: 1vw auto 1vw 20vw;
  width: 40vw;
  height: 25vw;
}

.home-controller_body b {
  color: #4f4f4f;
  font-weight: 800;
  font-size: 1.5vw;
  line-height: 3vw;
}

.home-controller_body_title {
  color: #4f4f4f;
  font-weight: 800;
  font-size: 1.5vw;
  line-height: 3vw;
}