.admin-device {
 width: 84vw;
 height: 90vh;
}

.admin-device_menu {
  display: flex;
}

.admin-device_menu_item {
  margin: 3vw 0 1vw 6vw;
  background-image: linear-gradient(white, #e0e0e0);
  width: 20vw;
  height: 15vw;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.admin-device_menu_item_title {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 20vw;
  text-align: center;
  color: white;
  opacity: 0;
}

.admin-device_menu_item_title h1 {
  padding: 5px 0 2px;
  margin-bottom: 0;
  font-size: 1.3vw;
  font-weight: 700;
  color: white;
}

.admin-device_menu_item_title p {
  margin-bottom: 5px;
  font-size: 1.1vw;
  color: white;
}

.admin-device_menu_item:hover .admin-device_menu_item_title {
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.admin-device_back-btn {
  margin: 1vw 0 0 3vw;
  float: left;
}

.admin-device_add-btn {
  margin: 1vw 3vw 0 0;
  float: right;
}

.admin-device_list {
  text-align: center;
}

.admin-device_list h1 {
  margin-top: 1vw;
  font-size: 2.5vw;
  font-weight: 700;
  color: green;
}

/* Table */
.admin-device_list_table {
  margin: 1vw 3vw 0 3vw;
}

.ant-table-thead > tr > th {
  background-color: #e6e6e6;
  text-align: center;
}

span.ant-table-column-title {
  font-size: 1.3vw;
  color: #2c0073;
}

tr.ant-table-row.ant-table-row-level-0 {
  font-size: 1vw;
  text-align: center;
}
