.admin-personal {
  width: 85vw;
  min-height: 90vh;
  color: black;
}

.admin-personal_avatar {
  margin-top: 2vw;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
}

.admin-personal_name {
  margin: 5px 0 0 0;
  font-size: 1.7vw;
  font-weight: 600;
}

.admin-personal_info {
  margin: 3vw 15vw 3vw 15vw;
}

.admin-personal_info_title {
  display: flex;
  border-bottom: 1px solid #5e5e5e;
}

.admin-personal_info_title img {
  height: 3vw;
  width: 3vw;
}

.admin-personal_info_title h1 {
  margin-left: 10px;
  color: #5e5e5e;
  font-size: 2vw;
  font-weight: 600;
}

.admin-personal_info_content {
  margin-top: 10px;
  display: flex;
}

.admin-personal_info_content_topic {
  font-size: 1.2vw;
  font-weight: 700;
}

.admin-personal_info_content_content {
  margin-left: 10vw;
  font-size: 1.2vw;
}

.admin-personal_work_title {
  margin-top: 3vw;
  display: flex;
  border-bottom: 1px solid #5e5e5e;
}

.admin-personal_work_title img {
  height: 2.5vw;
  width: 2.5vw;
}

.admin-personal_work_title h1 {
  margin-left: 10px;
  color: #5e5e5e;
  font-size: 2vw;
  font-weight: 600;
}
