.admin-setting {
 width: 84vw;
 min-height: 90vh;
}

.admin-setting_menu {
  display: flex;
}

.admin-setting_menu_item {
  margin: 4vw 0 0 15vw;
  background-image: radial-gradient(white, #e0e0e0);
  text-align: center;
  width: 18vw;
  height: 15vw;
  cursor: pointer;
}

.admin-setting_menu_item h1 {
  font-size: 1.2vw;
  font-weight: bold;
  color: #19008a;
  text-shadow: 2px 2px #e0e0e0;
}
