.security-system-header {
  margin-top: 80px;
  position: relative;
}
.security-system-header img {
  width: 100%;
}

.security-system-header__content {
  position: absolute;
  top: 55%;
  left: 15%;
  width: 33vw;
}
.security-system-header__content h1 {
  color: #003eff;
  text-shadow: 2px 0 0 #00ff98, 0 -2px 0 #432c58, 0 2px 0 #00ff98, 0 -2px 0 #432c58;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5px;
}
.security-system-header__content p {
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}

.security-system__introduce {
  margin: 50px 10vw auto 10vw;
  font-size: 18px;
  text-align: justify;
  font-weight: 500;
}

.security-system__row {
  margin-top: 100px;
  margin-left: 7vw !important;
  margin-right: 7vw !important;
}
.security-system__row h1 {
  margin-top: 20px;
  color: #432c58;
  font-size: 35px;
  font-weight: 800;
  border-bottom: 1px solid !important;
  border-image: linear-gradient(90deg, #00ff98, #003eff) 1;
}
.security-system__row p {
  color: black;
  font-size: 18px;
  text-align: justify;
}
.security-system__row img{
  width: 500px;
  transition: transform .4s;
}

.security-system__row1__col2 {
  padding: 0 40px !important;
}
.security-system__row2__col1, .security-system__row3__col2 {
  padding: 60px 40px !important;
}
.security-system__row4__col1 {
  padding: 30px 40px !important;
}
.security-system__row1__col1, .security-system__row2__col2, .security-system__row3__col1, .security-system__row4__col2 {
  overflow: hidden;
}
.security-system__row1__col1:hover img, .security-system__row2__col2:hover img, .security-system__row3__col1:hover img, .security-system__row4__col2:hover img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}

.security-system__panel {
  position: relative;
  margin-top: 100px;
  overflow: hidden;
  text-align: justify;
}
.security-system__panel img {
  width: 100%;
  transition: transform .4s
}
.security-system__panel:hover img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}
.security-system__panel:hover h1 {
  color: #003eff;
}
.security-system__panel h1 {
  color: #432c58;
  font-size: 35px;
  font-weight: 800;
  border-bottom: 1px solid !important;
  border-image: linear-gradient(90deg, #00ff98, #003eff) 1;
}
.security-system__panel p {
  color: white;
  font-size: 18px;
}

.camera-panel__content {
  position: absolute;
  top: 120px;
  left: 150px;
  width: 25%;
}

.security-system__smart-lock {
  margin-top: 70px;
  text-align: center;
  overflow: hidden;
}
.security-system__smart-lock h1 {
  font-size: 35px;
  font-weight: 800;
  color: #643591;
}
.security-system__smart-lock img {
  width: 100%;
  transition: transform .4s
}
.security-system__smart-lock:hover img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}