.introduce-header {
  margin-top: 80px;
  position: relative;
}
.introduce-header img {
  width: 100%;
  height: calc(100vh - 80px);
}

.introduce-header h1 {
  position: absolute;
  top: 75%;
  left: 10%;
  width: 33vw;
  color: #00ff98;
  text-shadow: 2px 0 0 #003eff, 0 -2px 0 #432c58, 0 2px 0 #003eff, 0 -2px 0 #432c58;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
}

.introduce-timeline {
  padding-top: 30px;
  padding-bottom: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/736x/d7/27/f3/d727f3566942c090b2802cbb19c08cf5.jpg');
  background-size: 100% auto;
}

.introduce-timeline h2 {
  padding-bottom: 5px;
  border-bottom: 2px solid !important;
  border-image: linear-gradient(90deg, #00ff98, #003eff) 1;
}

.vertical-timeline-element-icon img {
  margin: 15px 15px;
  text-align: center;
  width: 30px;
  height: 30px;
}

.vertical-timeline-element-date {
  color: white;
  top: 0 !important;
  font-size: 1.2rem !important;
  font-weight: 700;
}