.scripts {
    margin-top: 100px;
    padding: 0 4.5vw;
    min-height: calc(100vh - 100px);
}

.scripts__item {
    margin: 0 1.2vw 2vw 1.2vw;
    padding: 0 !important;
    width: 20vw;
    height: 35vh;
    box-shadow: 2px 3px 4px #524e4e;
    cursor: pointer;
    transition: transform .2s;
}

.scripts__item:hover {
    transform: scale(1.05);
}

.scripts__item__header {
    margin-bottom: 1vh;
    position: relative;
    height: 20vh;
}

.scripts__item__header img {
    margin-top: 2vh;
    margin-left: 2vw;
    width: 4vw;
    border-radius: 50%;
    opacity: 0.9;
}

.scripts__item__header p {
    position: absolute;
    top: 13vh;
    left: 2vw;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 2px 3px #807f7f;
}

.scripts__item__header img {
    margin-top: 2vh;
    margin-left: 2vw;
    width: 4vw;
    border-radius: 50%;
    opacity: 0.9;
}

.scripts__item__footer {
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
}

.scripts__item__footer p {
    margin-bottom: 10px;
    font-weight: bold;
}

.scripts__item__add {
    margin: 0 1.2vw 2vw 1.2vw;
    padding: 0 !important;
    width: 20vw;
    height: 35vh;
    text-align: center;
    border: 2px dashed #a8a8a8;
    cursor: pointer;
}

.scripts__item__add h2 {
    margin-top: 3vh;
    color: green;
    font-size: 1.5vw;
    font-weight: 800;
}

.scripts__item__add img {
    margin-top: 3vh;
    width: 7vw;
}

.scripts__item__add:hover {
    border: 3px solid #a8a8a8;
}