.modal-icon {
    width: 60px;
    cursor: pointer;
    transition: transform .2s;
}

.modal-icon:hover {
    transform: scale(1.1);
}

.fire-alert B {
    color: red;
}

.fire-alert div {
    text-align: center;
}

.fire-alert .ant-modal-body {
    padding: 0;
}

.fire-alert img {
    width: 200px;
}

