@import "../styles/config";
@import "../components/header/header";
@import "../components/sidenav/sidenav";
@import "../scenes/Guest/style";
@import '../scenes/User/style';

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: $chika-blue;
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $chika-light-green;
}

@media (max-width: $screen-desktop) {
    @include config--desktop();
    @include app-header--desktop();
    @include app-side-nav--desktop();
    @include guest--desktop();
    @include user--desktop();
}

@media (max-width: $screen-laptop-hidpi) {
    @include config--laptop-hidpi();
    @include app-header--laptop-hidpi();
    @include app-side-nav--laptop-hidpi();
    @include guest--laptop-hidpi();
    @include user--laptop-hidpi();
}

@media (max-width: $screen-laptop-mdpi) {
    @include config--laptop-mdpi();
    @include app-header--laptop-mdpi();
    @include app-side-nav--laptop-mdpi();
    @include guest--laptop-mdpi();
    @include user--laptop-mdpi();
}