.conditioner-tivi-header {
  margin-top: 80px;
  position: relative;
}
.conditioner-tivi-header img {
  width: 100%;
}

.conditioner-tivi-header__content {
  position: absolute;
  top: 60%;
  left: 15%;
  width: 33vw;
}
.conditioner-tivi-header__content h1 {
  color: #003eff;
  text-shadow: 2px 0 0 #00ff98, 0 -2px 0 #432c58, 0 2px 0 #00ff98, 0 -2px 0 #432c58;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5px;
}
.conditioner-tivi-header__content p {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}

.conditioner-tivi__introduce {
  margin: 50px 10vw auto 10vw;
  font-size: 17px;
  text-align: justify;
  font-weight: 500;
}

.conditioner-tivi__row {
  margin-top: 100px;
  margin-left: 7vw !important;
  margin-right: 7vw !important;
}
.conditioner-tivi__row h1 {
  margin-top: 20px;
  color: #432c58;
  font-size: 35px;
  font-weight: 800;
  border-bottom: 1px solid !important;
  border-image: linear-gradient(90deg, #00ff98, #003eff) 1;
}
.conditioner-tivi__row p {
  color: black;
  font-size: 18px;
  text-align: justify;
}
.conditioner-tivi__row img{
  width: 500px;
  transition: transform .4s;
}

.conditioner-tivi__row1__col2, .conditioner-tivi__row2__col1, .conditioner-tivi__row3__col2, .conditioner-tivi__row4__col1 {
  padding: 50px 40px !important;
}
.conditioner-tivi__row1__col1, .conditioner-tivi__row2__col2, .conditioner-tivi__row3__col1, .conditioner-tivi__row4__col2 {
  overflow: hidden;
}
.conditioner-tivi__row1__col1:hover img, .conditioner-tivi__row2__col2:hover img, .conditioner-tivi__row3__col1:hover img, .conditioner-tivi__row4__col2:hover img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}
.conditioner-tivi__row4__col1 {
  padding: 0 40px !important;
}

.conditioner-tivi__panel {
  position: relative;
  margin-top: 130px;
  overflow: hidden;
  text-align: justify;
}
.conditioner-tivi__panel img {
  width: 100%;
  transition: transform .4s
}
.conditioner-tivi__panel:hover img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}
.conditioner-tivi__panel:hover h1 {
  color: #003eff;
}
.conditioner-tivi__panel h1 {
  color: #432c58;
  font-size: 35px;
  font-weight: 800;
  border-bottom: 1px solid !important;
  border-image: linear-gradient(90deg, #00ff98, #003eff) 1;
}
.conditioner-tivi__panel p {
  color: black;
  font-size: 18px;
}

.smartphone-panel__content {
  position: absolute;
  top: 130px;
  left: 100px;
  width: 30%;
}

.conditioner-tivi__replace-remote {
  margin-top: 100px;
  text-align: center;
  overflow: hidden;
}
.conditioner-tivi__replace-remote h1 {
  color: #432c58;
  font-size: 38px;
  margin-bottom: 0;
}
.conditioner-tivi__replace-remote h2 {
  font-size: 35px;
  font-weight: 800;
  color: #643591;
}
.conditioner-tivi__replace-remote img {
  width: 100%;
  transition: transform .4s
}
.conditioner-tivi__replace-remote:hover img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}