.conditioner-tivi {
  margin-top: 10vh;
}

.conditioner-tivi img {
  transition: transform .2s;
}

.conditioner-tivi img:hover {
  transform: scale(1.1);
}

.conditioner-tivi_header {
  background-image: url("/image/conditioner-tivi/dieu-khien-tv-banner.jpg");
  background-size: 100% 38vw;
  height: 38vw;
  display: flex;
}

.conditioner-tivi_header_title {
  margin: 25vw 1vw auto 15vw;
  width: 30vw;
}

.conditioner-tivi_header_title h1 {
  color: #f3d5a8;
  text-shadow: 2px 0 0 #000, -2px 0 0 #fff, 0 2px 0 #000, 0 -2px 0 #fff;
  font-size: 2.4vw;
  font-weight: bold;
  margin-bottom: 5px;
}

.conditioner-tivi_header_title p {
  color: #000;
  font-size: 1.3vw;
  text-align: justify;
}

.conditioner-tivi_introduce {
  margin: 3vw 10vw auto 10vw;
  width: 80%;
  font-size: 1.2vw;
  text-align: justify;
  font-weight: 500;
}

.conditioner-tivi_body {
  margin: 2vw 7vw auto 7vw;
}

.conditioner-tivi_body h1 {
  color: #58595b;
  font-size: 2.5vw;
  font-weight: 800;
  border-bottom: 0.5px solid #cccccc;
}

.conditioner-tivi_body p {
  color: black;
  font-size: 1.1vw;
  text-align: justify;
}

.conditioner-tivi_body_open-tivi-image {
  float: left;
  margin: 2vw auto auto 4vw;
  width: 37vw;
  height: 27vw;
}

.conditioner-tivi_body_open-tivi {
  float: right;
  margin: 7vw 5vw auto auto;
  width: 31vw;
}

.conditioner-tivi_body_module-ir-image {
  float: right;
  margin: 9vw 4vw auto auto;
  width: 38vw;
  height: 36vw;
}

.conditioner-tivi_body_module-ir {
  float: left;
  margin: 12vw auto auto 9vw;
  width: 27vw;
}

.conditioner-tivi_smartphone {
  margin: 72vw auto 3vw auto;
  background-image: url("/image/conditioner-tivi/dieu-khien-dieu-hoa-qua-dt.jpg");
  background-size: 100% 35vw;
  background-repeat: no-repeat;
  min-height: 35vw;
  display: flex;
}

.conditioner-tivi_smartphone:hover h1 {
  color: green;
}

.conditioner-tivi_smartphone_content {
  margin: 10vw auto auto 10vw;
  width: 28vw;
}

.conditioner-tivi_smartphone h1 {
  color: #58595b;
  font-size: 2.5vw;
  font-weight: 800;
  border-bottom: 0.5px solid white;
}

.conditioner-tivi_smartphone p {
  color: black;
  font-size: 1.2vw;
  text-align: justify;
}

.conditioner-tivi_body_set-up-image {
  float: right;
  margin: 3vw 2vw auto auto;
  width: 38vw;
  height: 27vw;
}

.conditioner-tivi_body_set-up {
  float: left;
  margin: 10vw auto auto 4vw;
  width: 34vw;
}

.conditioner-tivi_replace-remote {
  margin-top: 38vw;
  text-align: center;
}

.conditioner-tivi_replace-remote h1 {
  font-size: 2.8vw;
  font-weight: 400;
  margin-bottom: 0;
}

.conditioner-tivi_replace-remote h2 {
  font-size: 2.6vw;
  font-weight: 800;
  color: #58595b;
}

.conditioner-tivi_replace-remote_image {
  background-image: url("/image/conditioner-tivi/thay-remote.jpg");
  background-size: 100% 35vw;
  height: 35vw;
}

.conditioner-tivi_body_module-ir-design-image {
  float: left;
  margin: 2vw auto auto 4vw;
  width: 37vw;
  height: 27vw;
}

.conditioner-tivi_body_module-ir-design {
  float: right;
  margin: 5vw 7vw auto auto;
  width: 30vw;
}

.conditioner-tivi-footer {
  margin-top: 35vw;
  background-color: #dbdbdb;
  text-align: center;
}

.conditioner-tivi-footer h1 {
  padding-top: 2vw;
  color: #f3d5a8;
  font-size: 3vw;
  font-weight: 900;
  text-shadow: 2px 0 0 #000, -1px 0 0 #fff, 0 2px 0 #000, 0 -1px 0 #fff;
}

.conditioner-tivi-footer_row {
  margin: auto 5vw auto 5vw;
}

.conditioner-tivi-footer_col img {
  width: 25vw;
  height: 15vw;
  cursor: pointer;
}

.conditioner-tivi-footer_col p {
  margin: 1vw auto 2vw auto;
  font-size: 1.25vw;
  font-weight: 800;
}
