.remote__tv p {
    font-size: 15px;
    font-weight: bold;
}

.remote__tv__volume {
    padding-left: 25px;
}

.remote__tv__volume button {
    height: 100px;
    width: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}


.remote__tv__channel-row {
    margin-bottom: 10px;
}

.remote__tv__channel-row button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 15px;
    font-weight: bold;
}

.remote__tv__channel {
    padding-left: 20px;
}

.remote__tv__channel button {
    height: 100px;
    width: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.remote__air-conditioner {
    text-align: center;
}

.remote__air-conditioner h1 {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
}


.remote__air-conditioner button {
    margin-bottom: 20px;
    width: 100px;
    height: 40px;
    font-size: 20px;
}

.remote__air-conditioner .down-btn {
    margin-right: 20px;
}

.remote__air-conditioner .up-btn {
    margin-left: 20px;
}

.remote__air-conditioner p {
    font-size: 15px;
    font-weight: 700;
}

.remote__air-conditioner img {
    margin: 0 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
    padding: 5px;
}

.remote__add-btn {
    margin-top: 20px;
    text-align: center;
}

.remote__add-btn button {
    padding: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 17px;
}

.remote__add-btn a {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: red;
}