.home-page__header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/image/guest/home/smarthome-header.jpg');
  background-size: 100% 100vh;
  min-height: 100vh;
  position: relative;
}

.home-page__header__content {
  position: absolute;
  top: 25%;
  left: 10%;
}

.home-page__header__content h1 { 
  color: #00ff98;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 0 0 0 #000, 2px 0 0 #003eff, 0 0 0 #000, 0 2px 0 #003eff;
  animation: fadein 3s ease-out forwards;
  -webkit-animation: fadein 3s;
}

.home-page__header__content p {
  color: white;
  font-size: 1.7vw;
  animation: fadein 3s ease-out forwards;
  -webkit-animation: fadein 3s;
}

@keyframes fadein { 
  from { opacity: 0;}
  to { opacity: 1}
}
@-webkit-keyframes fadein {
  from { opacity: 0;}
  to { opacity: 1;}
}

.home-page__header__content Button {
  height: auto;
  padding: 2px 3px 5px;
  font-size: 1.5vw;
  font-weight: 600;
  border: 2px solid white;
  border-radius: 30px;
  -webkit-animation: bummer 2s;
  animation: bummer 2s;
  -webkit-transform: scale(0,0); 
  transform: scale(0,0);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; /* Add this so that your modal doesn't close after the animation completes */
}

@-webkit-keyframes bummer {
  100% { -webkit-transform: scale(1,1); }
}
@keyframes bummer {
  100% { transform: scale(1,1); }
}

.home-page__header__content Button:hover {
  border-color: white;
}

.home-page__header__btn-login {
  width: 25%;
  margin-top: 5%;
  margin-left: 5%;
  background-color: #003eff;
  color: white;
}
.home-page__header__btn-login:hover {
  background-color: #002db4;
  color: white;
}

.home-page__header__btn-product {
  width: 33%;
  margin-left: 7%;
  background-color: #00ff98;
  color: #432c58;
}
.home-page__header__btn-product:hover {
  background-color: #00dd85;
  color: #432c58;
}

.home-page__row {
  margin-top: 100px;
  margin-left: 7vw !important;
  margin-right: 7vw !important;
}
.home-page__row h1 {
  margin-top: 20px;
  color: #432c58;
  font-size: 35px;
  font-weight: 800;
  border-bottom: 1px solid !important;
  border-image: linear-gradient(90deg, #00ff98, #003eff) 1;
}
.home-page__row p {
  color: black;
  font-size: 18px;
  text-align: justify;
}
.home-page__row img{
  width: 500px;
  cursor: pointer;
  transition: transform .4s;
}
.home-page__row img:hover{
  transform: scale(1.05);
}
.home-page__row Button {
  margin-left: 150px;
  color: #ff8c00;
  border-color: #ff8c00;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
}
.home-page__row Button:hover {
  color: white;
  background-color: #f7931e;
  border-color: #f7931e;
}

.home__row1 img{
  cursor: unset;
}
.row1__col1 {
  padding: 20px 60px !important;
}

.row2__col2 {
  padding: 20px 40px !important;
}

.home__row3, .home__row4, .home__row5 img{
  transition: transform .4s
}
.row3__col1, .row4__col2, .row5__col1 {
  padding: 50px 40px !important;
}
.row3__col2, .row4__col1, .row5__col2 {
  overflow: hidden;
}
.row3__col2:hover img, .row4__col1:hover img, .row5__col2:hover img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}

.home-page__panel {
  position: relative;
  margin-top: 130px;
  overflow: hidden;
  text-align: center;
}
.home-page__panel img {
  width: 100%;
  cursor: pointer;
  transition: transform .4s
}
.home-page__panel:hover img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}
.home-page__panel:hover h1 {
  color: #003eff;
}
.home-page__panel h1 {
  color: #432c58;
  font-size: 35px;
  font-weight: 800;
  border-bottom: 1px solid !important;
  border-image: linear-gradient(90deg, #00ff98, #003eff) 1;
}
.home-page__panel p {
  color: black;
  font-size: 18px;
}
.home-page__panel Button {
  color: #ff8c00;
  border-color: #ff8c00;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
}
.home-page__panel Button:hover {
  color: white;
  background-color: #f7931e;
  border-color: #f7931e;
}

.security-panel__content {
  position: absolute;
  top: 150px;
  right: 50px;
}

.light-control-panel__content {
  position: absolute;
  top: 150px;
  left: 50px;
  width: 35%;
}
.light-control-panel__content p {
  text-align: justify;
}

.home__reasons {
  margin: 100px 10vw auto 10vw;
  text-align: center;
}

.home__reasons h1 {
  color: #432c58;
  font-size: 30px;
  font-weight: 800;
}

.home__reasons__col {
  margin: 20px auto 70px auto;
}
.home__reasons__col img {
  width: 5vw;
  margin-bottom: 15px;
}
.home__reasons__col p {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
