.document_header {
  margin-top: 90px;
  text-align: center;
  font-size: 3vw;
  font-weight: 800;
  color: green;
}

.document_body {
  margin: 3vw 10vw auto 10vw;
  display: flex;
}

.document_body_menu {
  width: 20vw;
  height: 12vw;
}

.document_body_menu_item p {
  font-size: 1.3vw;
}

.document_body_content {
  margin-left: 5vw;
  width: 50vw;
}

.document_body_content_card {
  width: 50vw;
  margin-bottom: 1vw;
}

.document_footer {
  margin-top: 3vw;
  text-align: center;
}

.document_footer h1 {
  font-size: 2vw;
  font-weight: 800;
  color: #454545;
}

.document_footer_col {
  margin: 1vw auto 2vw 10vw;
  text-align: justify;
}

.document_footer_col h2 {
  font-size: 1.7vw;
  font-weight: 700;
  color: #454545;
}

.document_footer_col h3 {
  font-size: 1.2vw;
  font-weight: 800;
  color: #454545;
}

.document_footer_col p {
  font-size: 1.1vw;
}
