.question_header {
  margin-top: 90px;
  text-align: center;
  font-size: 3vw;
  font-weight: 800;
  color: green;
}

.question_body {
  margin: 2vw 10vw auto 10vw;
  background-color: white;
  height: 50vw;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.question_body::-webkit-scrollbar {
  width: 7px;
}

.question_body::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 20px;
}

.question_body:hover {
  overflow-y: visible;
}

.question_body_content {
  margin: 5vw auto 5vw 8vw;
  text-align: justify;
  width: 65vw;
}

.question_body_content h1 {
  font-size: 1.5vw;
  font-weight: bold;
}

.question_body_content p {
  font-size: 1.2vw;
  color: black;
  line-height: 2vw;
}

.question_footer {
  margin-top: 3vw;
  text-align: center;
}

.question_footer h1 {
  font-size: 2vw;
  font-weight: 800;
  color: #454545;
}

.question_footer_col {
  margin: 1vw auto 2vw 10vw;
  text-align: justify;
}

.question_footer_col h2 {
  font-size: 1.7vw;
  font-weight: 700;
  color: #454545;
}

.question_footer_col h3 {
  font-size: 1.2vw;
  font-weight: 800;
  color: #454545;
}

.question_footer_col p {
  font-size: 1.1vw;
}
