.admin-header {
    background-color: white;
}

.admin-header Button {
    margin-top: 25px;
    background-color: rgba(0,0,0,0);
    color: black;
    border: 0;
    font-size: 20px;
    transition: transform .2s;
}
  
.admin-header Button:hover {
    background-color: rgba(0,0,0,0);
    color: black;
    transform: scale(1.2);
}

.admin-header img {
    margin-left: 35px;
    cursor: unset;
}
  
.admin-header h1 {
    margin-top: 7px;
    margin-left: 10px;
    color: #000290;
    font-size: 30px;
    font-weight: 600;
}

.admin-header .app-header__nav__item {
    margin-right: 30px;
}

@media only screen and (max-width: 1920px) {

}
  
@media only screen and (max-width: 1400px) {

}