.user-header {
    color: black;
    background-color: white;
}
  
.user-header Button {
    margin-top: 25px;
    background-color: rgba(0,0,0,0);
    color: black;
    border: 0;
    font-size: 20px;
    transition: transform .2s;
}
  
.user-header Button:hover {
    background-color: rgba(0,0,0,0);
    color: black;
    transform: scale(1.2);
}

.user-header .app-header__logo {
    margin-left: 35px;
    cursor: unset;
}
  
.user-header i {
    margin-top: 7px;
    margin-left: 10px;
    color: #000290;
    font-size: 30px;
    font-weight: 600;
}
  
.user-header .app-header__nav__item img {
    width: 23px;
}

.user-header .app-header__nav__item {
    margin-left: 20px;
}