.admin-setting__change-info {
  padding-top: 2vw;
  padding-left: 5vw;
  padding-right: 10vw;
  display: flex;
}

.admin-setting_change-info__topic {
  font-size: 18px;
  font-weight: 700;
}

.admin-setting_change-info__topic p {
  margin-top: 5px;
  margin-bottom: 40px;
}

.admin-setting_change-info__input {
  margin-left: 5vw;
  font-size: 1.2vw;
  width: 40vw;
}